version: "3"
services:
  node:
    build: ./app
    #image: typetest
    env_file:
      - ./.env
    ports:
      - "3001:3001"
    depends_on:
      - db
  db:
    build: ./db
    #image: typetest_db
    ports:
      - "3307:3307"
    env_file:
      - ./.env
